@import '../../commons/styles/defaults/design-system';
@import '../../commons/styles/defaults/breakpoints';
@import '../../commons/styles/defaults/colors';
@import '../../commons/styles/defaults/typography';

.row {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 50%;

  @media (max-width: $screen-sm-max) {
    margin: 0 $base-design-unit;
    width: 100%;
  }
}

.container__to {
  margin-bottom: (10 * $base-design-unit);
}

.selection {
  display: flex;
  flex-direction: row;
  font-size: $font-size-big;
  justify-content: space-between;
}

.currency {
  @include default-field;

  cursor: pointer;
  margin-right: $base-design-unit;
  width: 15vh;
}

.amount {
  @include default-field;

  cursor: default;
  flex: 1;
  text-align: right;
  width: 50%;
}

.amount__balanceExceeded { color: $_secondary-color; }

.display {
  color: $_secondary-color;
  cursor: default;
  display: flex;
  flex-direction: row;
  font-size: $font-size-sm;
  font-weight: $font-weight-semi;
  justify-content: space-between;
  padding: 0 ($base-design-unit / 1.5);
  margin: 0 auto;
  user-select: none;

  @media (max-width: $screen-sm-min) { width: 95%; }
}

.warning { color: $red; }
