@import './variables';

:root {
  --app-primary-color: #1a4bab;
  --app-secondary-color: #b336b0;

  --selection-from-background: #1c1c1e;
  --selection-to-background: #2c2c2f;

  --exchange-button-bg-color: #3083fe;
  --exchange-button-bg-color-hover: #1656b5;
  --exchange-button-bg-color-pressed: #0b326d;
  --exchange-button-bg-color-disabled: #061d40;
}
