:root {
  --selection-from-background: #1c1c1e;
  --selection-to-background: #2c2c2f;

  --exchange-button-color-disabled: #777;
  --exchange-button-bg-color: #3083fe;
  --exchange-button-bg-color-hover: #1656b5;
  --exchange-button-bg-color-disabled: #061d40;
}
