// Common colors
$white: #FFF;
$black: #000;
$gray: #777;
$strong-gray: #352e2e;
$light-gray: #c1c1c1;
$red: #d04b5d;
$green: #2cab3d;

// Specific colors
$_disabled-color: $gray;
$_secondary-color: $light-gray;
$_loading-disabled-color: $strong-gray;

// I know, these variables above could be extracted to root variables
// instead to improve performance on compilation
