@import '../../commons/styles/defaults/breakpoints';
@import '../../commons/styles/defaults/colors';
@import '../../commons/styles/defaults/design-system';
@import '../../commons/styles/defaults/typography';
@import '../../commons/styles/defaults/variables';

$_nav_bubble_size: 4vh;

.button {
  border: 0;
  cursor: pointer;
  font-size: $font-size-mid;
  outline: none;
  transition: background-color .2s ease-out, color .1s linear;

  // No hover styles on switch action for mobile phones
  @media (min-width: $screen-sm-min) {
    &:active, &:hover { color: $white; }
    &:hover { background-color: var(--exchange-button-bg-color-hover); }
    &:active { background-color: var(--exchange-button-bg-color-pressed); }
  }
}

.navigation {
  height: 0;
  overflow: visible;
  padding: 0;
  position: relative;
}

.currentRateInfo,
.switchAction {
  background-color: $white;
  color: var(--app-primary-color);
  position: absolute;
  z-index: 1;

  &[data-disabled=true] {
    color: $gray;
    opacity: 0.4;
  }
}

.switchAction {
  composes: button;

  border-radius: 100%;
  height: $_nav_bubble_size;
  left: 1vh;
  top: $_nav_bubble_size / -2;
  width: $_nav_bubble_size;

  @media (max-width: $screen-sm-min) {
    $size: 1.4vh;

    font-size: $size;
    text-indent: $size * -0.3; // please don't ask me why - swear it could be better
  }
}

.currentRateInfo {
  border-radius: 2 * $base-design-unit;
  height: $_nav_bubble_size / 2;
  left: 50%;
  max-width: 9999px;
  padding: ($base-design-unit / 1.3) (1.3 * $base-design-unit);
  top: $_nav_bubble_size / -2.5;
  transform: translateX(-50%);
  transition: width 2s ease-out;
  width: auto;

  @media (max-width: $screen-sm-min) { padding-top: 0; }
}

.rateSymbol {
  cursor: default;
  margin-right: $base-design-unit;
}

.rateText {
  font-size: $font-size-sm;
  font-weight: $font-weight-semi;
}

.exchangeAction {
  @include default-field;
  composes: button;

  background-color: var(--exchange-button-bg-color);
  border-radius: 2 * $base-design-unit;
  bottom: 10 * $base-design-unit;
  left: 50%;
  padding: (2 * $base-design-unit) 0;
  position: absolute;
  transform: translateX(-50%);
  width: 50%;

  &:disabled {
    background-color: var(--exchange-button-bg-color-disabled);
    color: var(--exchange-button-color-disabled);
    cursor: not-allowed;
  }

  @media (max-width: $screen-sm-min) {
    bottom: 4 * $base-design-unit;
    width: 70%;
  }
}
