@import './defaults/colors';

@mixin selection-colors {
  background: var(--app-primary-color);
  color: var(--app-secondary-color);
}

::-moz-selection { @include selection-colors; }
::selection { @include selection-colors; }

body {
  background-color: $black;
  color: $white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.currency-exchange {
  &-section {
    position: relative;

    &--from {
      background-color: var(--selection-from-background);
      height: 40vh;
    }

    &--to {
      background-color: var(--selection-to-background);
      height: 60vh;
    }
  }
}
