@import './defaults/breakpoints';
@import './defaults/colors';
@import './defaults/typography';

@mixin selection-colors {
  background: var(--app-primary-color);
  color: var(--app-secondary-color);
}

::-moz-selection { @include selection-colors; }
::selection { @include selection-colors; }

body {
  background-color: $black;
  color: $white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  width: 50%;

  @media (max-width: $screen-sm-max) {
    margin: 0;
    padding: 0 $base-design-unit;
    width: 100%;
  }

  &__to { margin-bottom: (10 * $base-design-unit); }
}

.currency-exchange {
  &-section {
    position: relative;

    &--from {
      background-color: var(--selection-from-background);
      height: 20vh;
    }

    &--to {
      background-color: var(--selection-to-background);
      height: 30vh;
    }

    // Hey you! Please test on a real phone if you're willing to see the mobile version 🙏🏼
    //
    // It looks like our currency selection section will squeeze
    // and it will allow the keyboard to show up as the "amountFrom" gets focused
    @media (min-width: $screen-sm-min) {
      &--from { height: 40vh; }
      &--to { height: 60vh; }
    }
  }
}
